/**
 * App CSS
 */

/* settings */
@import 'settings/_color.pcss';
@import 'settings/_type.pcss';

/* global */
@import 'global/_type.pcss';

/* elements */
@import 'elements/_button.pcss';

/* components */
@import 'components/_design.pcss';
